<nav class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
  <a class="navbar-brand" href="#" style="color:#000">TaskApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>  
    </ul>
    <ul class="navbar-nav" >
      <li class="nav-item" >
        <a class="nav-link" id="login" [routerLink]="['/login']" style="margin-right: 5px;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="register" [routerLink]="['/register']"style="margin-right: 5px;">Register</a>
      </li>

  
    </ul>
    <ul class="navbar-nav" >
      <li class="nav-item" ><a class="nav-link" [routerLink]="['/login']" (click)="showlogin()" id="logout"style="margin-right: 5px;">Logout</a></li>
    </ul>

  </div>  
</nav>