<div class="container">
  <br>
<h3 style="text-align:center">Save Notes</h3>
<hr>
<form #taskform="ngForm" action="" id="saveform" (ngSubmit)="submit(taskform)" name="form">
  <div class="row">
    <div class="col-md-3">
        <label for="">Add Image</label>
    </div>
    <div class="col-md-9">
        <input type="file" value="i" id="imagename" name="imagename" ngModel (change)="getimage($event)">
    </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <label for="">Link</label>
      </div>
      <div class="col-md-9">
          <input class="form-control" type="text" id="link" name="link" ngModel>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <label for="" >Title</label>
      </div>
      <div class="col-md-9">
          <input type="text" placeholder="" name="title" class="form-control" ngModel>
      </div>
  </div>
<button class="btn">submit</button>
</form>
</div>
<br>
    <div id="block" *ngIf="showtask">
        
    </div>
    