/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
.flash-messages div{
    background-color: #4CAF50;
    float: right;
    padding: 10px;
    color: #fff;
    border-radius:4px;
}