
  .container #form1 input[type=text],input[type=password]{
    border: none;
    padding: 10px;
    
  }
  .container #form1 input[type=password]{
    border: none;
    padding: 10px;
    
  }
  .container #form1{
  
    padding: 50px;
    margin: 0 auto; 
    margin-top:70px;
    background-color: #576574;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:5px; 
  }
  .container #form1 h1{
    text-align: center;
    color: #fff;
  }
  .container #form1 label{
    display: block;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .container #form1 input{
    margin-bottom: 10px;
    width: 98.2%;
    display: block;
    padding:8px 0;
  }
  
  
  .container #form1 button{
    margin-top: 15px;
    background-color: #27B5A9;
    border: none; 
    border-radius:0px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  .container #form1 button:hover{
    color: #27B5A9;
    background-color: #fff;
    border: 0.5px solid #27B5A9;
  }
  
  .error{
    margin-top:20px; 
    color:red;
    text-transform: capitalize;
    font-size: 18px;
  
  }