  <!--Login Form-->
  <div class="container">
    <form  #registerForm="ngForm" (ngSubmit)="onsubmit(registerForm)" id="form1" name="form">
        <h1>Register</h1>
        <br>
        <div id="UserName">
          <label for="">Username</label>
          <input type="text" name="name"  ngModel placeholder="Enter User Name" required>
        </div>
        <div id="password">
          <label for="">Password</label>
          <input type="password" name="password" ngModel placeholder="Enter password" required>
        </div>
      
        <button type="submit" [disabled]="!registerForm.valid">submit</button>
        <div class="error">{{error}}</div>
  </form>
  
</div>
